.about-page {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: #f8eae2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.about-header {
  text-align: center;
}

.about-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 18px;
  color: #777;
}

.about-content h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-content ul {
  list-style-type: disc;
  margin-left: 30px;
}

.about-content a {
  color: #007bff;
  text-decoration: none;
}

.about-content a:hover {
  text-decoration: underline;
}
