.button-relative {
  display: flex;
  margin: 10px 0px;
  padding: 15px;
  border-radius: 5px;
  background-color: #a18b9e;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 5px 5px #43465f;
  justify-content: center;
  gap: 5px;
  height: 50px;
  min-width: 110px;
  position: relative;
  border:none;
  width:100%;
}

.form-login {
  background-color: #a18b9e;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.subheader-img {
  width: 20px;
}
