.task-list {
    max-height: 480px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


/* Column.css */
.column {
    width: 33%;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 12px;
    margin: 0 8px;
    overflow: hidden;
}

.column-title {
    font-size: 20px;
    margin-bottom: 12px;
}