.comment-div {
  font-size: 15px;
  background-color: #f8eae2;
  margin: 8px;
  border-radius: 10px;
  padding: 16px;
}

.comment-date {
  color: #808080;
  margin-top: 8px;
  font-size: smaller;
}

.comment-creator {
  margin-bottom: 12px;
}

.comment-content {
  margin-bottom: 12px;
}
