.received-comment {
  font-size: 15px;
  /* background-color: #ebe4e0; */
  margin: 2px;
  border: 1px solid #e0e2eb;
  border-radius: 10px;
  padding: 12px;
  padding-left: 30px;
  align-self: flex-start;
}
.send-comment{
  font-size: 15px;
  border: 1px solid #e0e2eb;
  padding-right: 30px;
  /* padding: 12px; */
  align-self: flex-end;
}

.comment-date {
  color: #808080;
  margin-top: 8px;
  font-size: smaller;
}

.comment-creator {
  margin-bottom: 12px;
}

.comment-content {
  margin-bottom: 12px;
}
