.header {
  width: 100%;
  min-height: 84px;
  background-color: #252540;
  text-align: right;
}
.user-greeting{
  margin-right: 40px;
font-weight: bold;
color: white;
font-family: sans-serif;
margin-top: 50px;
font-size: large;
}
