.sidebar {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  inline-size: 350px;
  background-color: #252540;
}
.logo-employee {
  background-color: #2d2d4b;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.logo-employee > img {
  max-width: 100%;
}
.side-nav {
  block-size: 100%;
  box-shadow: inset -3px 0px 1px -3px #252540;
}
.side-nav > .list {
  overflow: hidden;
  list-style: none;
}
hr{
  margin-top: auto; 
  border-color :white;
}
.list > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
  /* background-color: #A18B9E; */
  border: none;
  /* border-bottom-left-radius: 25px;
  /* border-top-left-radius: 25px; */
  margin-top: auto;
}
.list img {
  padding: 8px;
  width: 40px;
  margin-left: -20px;
}
.icon-li {
  /* background-color: #ffffff; */
  border-radius: 50%;
  margin: 8px;
  width: 30px;
  height: 29px;
}
.list span {
  color: white;
  margin-top: 15px;
  margin-left: -15px;
}
/* .logout{ */
  /* margin-top:auto; */
/* } */
.logout > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* margin-top: 30px; */
  margin-left: 30px;
  /* background-color: #A18B9E; */
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}