.wr {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.formInputCreate {
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 10px;
  background-color: #fafafa;
  margin: 10px 0;
  box-sizing: border-box;
  width: 450px;
}

.wr textarea{
  width: 930px;
  resize: vertical;
  min-height: 100px;
}